[submodule "src/libs/less-template"]
	path = src/libs/less-template
	url = https://github.com/EaseCloud/less-template.git
	branch = master
[submodule "src/plugins/jsmind/JsMindPro"]
	path = src/plugins/jsmind/JsMindPro
	url = https://github.com/fish-ball/JsMindPro.git
	branch = master
